---
# We'll use defaults from the LLVM style, but with 4 columns indentation.
BasedOnStyle: LLVM
IndentWidth: 4
---
Language: Cpp
# Force pointers to the type for C++.
ColumnLimit: 120
AlignConsecutiveMacros: AcrossEmptyLines
AllowShortFunctionsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: true
BreakAfterAttributes: Always
BreakBeforeBraces: Custom
BraceWrapping:
  BeforeElse: true
IndentPPDirectives: BeforeHash
