# General
.DS_Store

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Useless project files
*.o
*.a
*.zip
*.dSYM
*.dylib
.zed
.vscode
example
infer-out
