name: C/C++ CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build:
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v4

      - name: build macos libraries
        run: ./build.sh -t macosx -v 10.15

      - name: upload build artifact
        uses: actions/upload-artifact@v4
        with:
          name: tinyhook-macosx
          path: |
            libtinyhook.a
            libtinyhook.dylib
            include/tinyhook.h
          compression-level: 9

      - name: build ios libraries
        run: ./build.sh -t iphoneos -v 12.0

      - name: upload build artifact
        uses: actions/upload-artifact@v4
        with:
          name: tinyhook-iphoneos
          path: |
            libtinyhook.a
            libtinyhook.dylib
            include/tinyhook.h
          compression-level: 9

  test:
    strategy:
      matrix:
        include:
          - os: macos-15-intel
            arch: x86_64
          - os: macos-latest
            arch: arm64

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v4

      - name: run test
        run: make test
